--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
opencv-python-headless
numpy
pyserial
soundfile
google-genai
moviepy
tensorflow-cpu

# CPU-only PyTorch without strict version lock
torch
transformers
